    .example-sidenav-content {
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    padding-top: 0;
  }
  
  .example-sidenav {
    padding: 20px;
    position: absolute;
    height: 90%;
  }

  .routing {
    padding-left: 220px;
  }
  